.ui-content {
    text-align: center;
    padding: 20px;
}


/*HOME*/
.home {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
}

.home img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}


/* PACKAGE CARD */
.package-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
}

.package-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}


/* PAGE BACKGROUND */
.ui-page {
    background-color: rgb(150, 178, 242);
}


/* HEADER */
.ui-page .ui-header {
    background-color: rgb(45, 45, 161);
    color: white;
}

.ui-page .ui-header h1 {
    color: white;
}


/* FOOTER */
.ui-page .ui-footer {
    background-color: rgb(79, 109, 216);
    color: white;
}

.ui-page .ui-footer h4 {
    color: white;
}


/* TOOLTIP */
.tooltip {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.custom-tooltip {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
}
